#Comm_1{
    position: absolute;
    top: 716px;
    left: 27px;
    }
    #Comm_2{
    position: absolute;
    top: 716px;
    left: 578px;
    }
    #Comm_3{
        position: absolute;
        top: 1071px;
        left: 27px;
        }
    #Comm_4{
    position: absolute;
    top: 1071px;
    left: 578px;
    }
    #Comm_5{
        position: absolute;
        top: 1436px;
        left: 27px;
    }
    #Comm_6{
        position: absolute;
        top: 1436px;
        left: 578px;
    }
    #Comm_7{
        position: absolute;
        top: 1781px;
        left: 27px;
    }
    #Comm_8{
        position: absolute;
        top: 1781px;
        left: 578px;
    }
    #Comm_9{
        position: absolute;
        top: 2136px;
        left: 27px;
        }
    #Comm_10{
        position: absolute;
        top: 2136px;
        left: 578px;
    }
    #Comm_11{
        position: absolute;
        top: 2491px;
        left: 27px;
    }
    #Comm_12{
        position: absolute;
        top: 2491px;
        left: 578px;
    }
    #Comm_13{
        position: absolute;
        top: 2846px;
        left: 27px;
    }
    #Comm_14{
        position: absolute;
        top: 2846px;
        left: 578px;
    }
    #Comm_15{
        position: absolute;
        top: 3201px;
        left: 27px;
    }
    #Comm_16{
        position: absolute;
        top: 3201px;
        left: 578px;
    }
    #Comm_17{
        position: absolute;
        top: 3556px;
        left: 27px;
    }
    #Comm_18{
        position: absolute;
        top: 3556px;
        left: 578px;
    }