#Gov_building{
    position: absolute;
    top: 748px;
    left: 66px;
    background: url('icon\\Government Building 2.png')  50% / cover no-repeat;
    }
    #Justice_scaie{
        position: absolute;
        top: 744px;
        left: 622px;
        background: url('icon\\Justice Scale 1.png')  50% / cover no-repeat;
    }
    #ruling{
        position: absolute;
    top: 1103px;
    left: 59px;
    background: url('icon\\ruling 1.png')  50% / cover no-repeat;
    }
    #financial-profit{
        position: absolute;
    top: 1091px;
    left: 626px;
    background: url('icon\\financial-profit 1.png') 50% / cover no-repeat;
    }
    #edu_icon{
        position: absolute;
    top: 1466px;
    left: 66px;
    background: url('icon\\open.png') 50% / cover no-repeat;
    }
    #antenna_icon{
        position: absolute;
    top: 1458px;
    left: 622px;
    background: url('icon\\antenna.png') 50% / cover no-repeat;
    }
    #earth_icon{
        position: absolute;
    top: 1814px;
    left: 64px;
    background: url('icon\\earth.png') 50% / cover no-repeat;
    }
    #soldier_icon{
    position: absolute;
    top: 1806px;
    left: 628px;
    background: url('icon\\soldier.png') 50% / cover no-repeat;
    }
    #guard_icon{
        position: absolute;
        top: 2158px;
        left: 59px;
        background: url('icon\\guard.png') 50% / cover no-repeat;
    }
    #palat_icon{
        position: absolute;
    top: 2168px;
    left: 622px;
    background: url('icon\\palat.png') 50% / cover no-repeat;
    }
    #vagetable_icon{
        position: absolute;
    top: 2518px;
    left: 64px;
    background: url('icon\\vagetable.png') 50% / cover no-repeat;
    }
    #building_icon{
        position: absolute;
    top: 2518px;
    left: 603px;
    background: url('icon\\building.png') 50% / cover no-repeat;
    }
    #aidkit_icon{
        position: absolute;
    top: 2878px;
    left: 67px;
    background: url('icon\\aidkit.png') 50% / cover no-repeat;
    }
    #earth_handling_icon{
        position: absolute;
    top: 2879px;
    left: 614px;
    background: url('icon\\earth_handling.png') 50% / cover no-repeat;
    }
    #road_icon{
    position: absolute;
    top: 3237px;
    left: 67px;
    background: url('icon\\road.png') 50% / cover no-repeat;
    }
    #man_icon{
    position: absolute;
    top: 3228px;
    left: 618px;
    background: url('icon\\man.png') 50% / cover no-repeat;
    }
    #family_icon{
        position: absolute;
    top: 3593px;
    left: 57px;
    background: url('icon\\family.png') 50% / cover no-repeat;
    }
    #budget_icon{
        position: absolute;
    top: 3593px;
    left: 618px;
    background: url('icon\\budget.png') 50% / cover no-repeat;
    }