body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0px;
}
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
#main_Rec{
    width: 100%;
    flex-shrink: 0;
    background: #FEF2E0;
    display: grid;
    height: 4224px;
    /* overflow: hidden; */
}
.img_container{
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    grid-area: 1/1/2/2;
}
.img_container img{
    width: 100%;
    height: auto;
    display: block;
}
.text_container{
    width: 100%;
    height: auto;
    display: flex;
    grid-area: 1/1/2/2;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
#text1{  
    color: #1C1C1C;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    margin-top: 14.5vw;
    margin-bottom: 0px;
}
#text2{
    color: #1C1C1C;
text-align: center;
font-family: "Noto Sans KR";
font-size: 3vw;
font-style: normal;
font-weight: 300;
margin: 0vw;
}
.Rec_Comm_Upper{
    all:unset;
    width: 521px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}
.Rec_Comm{
width: 521px;
height: 320px;
flex-shrink: 0;
border-radius: 16px;
background: #FFF;
box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
}
.Assets_icon{
    width: 95px;
    height: 95px;
    z-index: 0;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    filter: grayscale(100%);

}
.ko_font{
    all:unset;
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
line-height: 25.6px; /* 71.111% */
}
.en_font{
    all:unset;
        color: #FFF;
font-family: "Noto Sans KR";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}
.Work_font{
    all:unset;
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
    position: absolute;
    flex-shrink: 0;
}

.button{
    all:unset;
    width: 126px;
height: 48px;
flex-shrink: 0;
border-radius: 8px;
border-width: 2px;
border: 2px solid #E0E0E0;
background: #EDF0F2;

color: #1C1C1C;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /*폰트*/

display: inline-block;
align-items: center;
text-align: center;
line-height: 50px;
justify-content: center;/*텍스트 정렬*/

position: absolute;

/* 버튼처럼 만들기 */
cursor: pointer;


}
