#House_Steering_ko{
    position: absolute;
    top: 759px;
    left: 186px;
    width: 232px;
    height: 26px;
    }
    #House_Steering_en{
        position: absolute;
        top: 796px;
        left: 186px;
        width: 320px;
        height: 43px;
        flex-shrink: 0;
    }
    
    #Leg_ko{
    position: absolute;
    top: 754px;
    left: 743px;
    width: 300px;
    height: 42px;
    flex-shrink: 0;
    }
    #Leg_en{
    position: absolute;
    top: 795px;
    left: 740px;
    width: 287px;
    height: 45px;
    flex-shrink: 0;
    }
    
    #rul_ko{
        position: absolute;
        width: 285px;
    height: 42px;
    top: 1111px;
    left: 178px;
    flex-shrink: 0;
    }
    #rul_en{
        position: absolute;
        width: 248px;
    height: 32px;
    top: 1151px;
    left: 175px;
    flex-shrink: 0;
    }
    
    #fin_ko{
    position: absolute;
    width: 250px;
    height: 40px;
    top: 1106px;
    left: 738px;
    flex-shrink: 0;
    }
    #fin_en{
    position: absolute;
    width: 276px;
    height: 28px;
    top: 1140px;
    left: 734px;
    flex-shrink: 0;
    }
    
    #edu_ko{
        position: absolute;
        width: 276px;
    height: 33px;
    top: 1474px;
    left: 186px;
    flex-shrink: 0;
    }
    #edu_en{
        position: absolute;
        width: 312px;
    height: 48px;
    top: 1511px;
    left: 191px;
    flex-shrink: 0;
    }
    
    #sci_ko{
        position: absolute;
        width: 258px;
    height: 55px;
    top: 1445px;
    left: 727px;
    flex-shrink: 0;
    line-height: 40px;
    }
    #sci_en{
    position: absolute;
    width: 443px;
    height: 45px;
    top: 1521px;
    left: 717px;
    flex-shrink: 0;
    }
    
    #forei_ko{
    position: absolute;
    width: 297px;
    height: 80px;
    top: 1826px;
    left: 178px;
    flex-shrink: 0;
    }
    #forei_en{
    position: absolute;
    width: 340;
    height: 16;
    top: 1866px;
    left: 176px;
    flex-shrink: 0;
    }
    
    #defen_ko{
    position: absolute;
    width: 269px;
    height: 60px;
    top: 1819px;
    left: 734px;
    flex-shrink: 0;
    }
    #defen_en{
    position: absolute;
    width: 271px;
    height: 33px;
    top: 1853px;
    left: 727px;
    flex-shrink: 0;
    }

    #PASC_ko{
        position: absolute;
        width: 262px;
height: 52px;
top: 2178px;
left: 161px;
flex-shrink: 0;
    }
#PASC_en{
    position: absolute;
    width: 350px;
height: 26px;
top: 2216px;
left: 166px;
flex-shrink: 0;
}

#CSTC_ko{
    position: absolute;
    width: 312px;
height: 40px;
top: 2176px;
left: 732px;
flex-shrink: 0;
}
#CSTC_en{
    position: absolute;
    width: 300px;
height: 36px;
top: 2213px;
left: 732px;
flex-shrink: 0;
}

#AFROFC_ko{
    position: absolute;
    width: 444px;
height: 80px;
top: 2510px;
left: 166px;
line-height: 40px;
flex-shrink: 0;
}
#AFROFC_en{
    position: absolute;
    width: 378px;
height: 40px;
top: 2586px;
left: 166px;
flex-shrink: 0;
}

#TIESSC_ko{
    position: absolute;
    width: 505px;
height: 64px;
top: 2510px;
left: 718px;
line-height: 40px;
flex-shrink: 0;
}
#TIESSC_en{
    position: absolute;
    width: 330px;
height: 34px;
top: 2586px;
left: 718px;
flex-shrink: 0;
}

#HWC_ko{
    position: absolute;
    width: 302px;
height: 51px;
top: 2886px;
left: 178px;
flex-shrink: 0;
}
#HWC_en{
    position: absolute;
    width: 303px;
height: 37px;
top: 2922px;
left: 179px;
flex-shrink: 0;
}

#ELC_ko{
    position: absolute;
    width: 283px;
height: 69px;
top: 2886px;
left: 719px;
flex-shrink: 0;
}
#ELC_en{
    position: absolute;
    width: 271px;
height: 27px;
top: 2927px;
left: 719px;
flex-shrink: 0;
}

#LITC_ko{
    position: absolute;
    width: 302px;
height: 55px;
top: 3242px;
left: 175px;
flex-shrink: 0;
}
#LITC_en{
    position: absolute;
    width: 347px;
    height: 28px;
    top: 3277px;
    left: 178px;
    flex-shrink: 0;
}

#IC_ko{
position: absolute;
width: 283px;
height: 53px;
top: 3243px;
left: 719px;
flex-shrink: 0;
}
#IC_en{
position: absolute;
width: 286px;
height: 32px;
top: 3281px;
left: 720px;
flex-shrink: 0;
}

#GEFC_ko{
position: absolute;
width: 281px;
height: 52px;
top: 3601px;
left: 176px;
flex-shrink: 0;
}
#GEFC_en{
position: absolute;
width: 312px;
height: 34px;
top: 3641px;
left: 168px;
flex-shrink: 0;
}

#SC_on_BandA_ko{
position: absolute;
width: 301;
height: 52;
top: 3597px;
left: 764px;
flex-shrink: 0;
}
#SC_on_BandA_en{
position: absolute;
width: 312;
height: 34;
top: 3649px;
left: 764px;
flex-shrink: 0;
}