#Blue{
    position: absolute  ;
    top: 716px;
    left: 27px;
    background: #1F618D;
}
#Purple{
    position: absolute;
    top: 716px;
    left: 578px;
    background: #7D3C98;
}

#Heavygreen{
    position: absolute;
    top: 1071px;
    left: 27px;
    background: #117864;
}
#Orange{
    position: absolute;
    top: 1071px;
    left: 578px;
    background: #F39C12;
}

#Blue_edu{
    position: absolute;
    top: 1436px;
    left: 27px;
    background: #2980B9;
    opacity: 0.98;
}
#Lightgreen{
    position: absolute;
    top: 1436px;
    left: 578px;
    background: #2ECC71;   
}
#Lightblue{
    position: absolute;
    top: 1781px;
    left: 27px;
    background: #5DADE2;   
}
#Red{
    position: absolute;
    top: 1781px;
    left: 578px;
    background: #C0392B;   
}

#Mint{
    position: absolute;
    top: 2136px;
    left: 27px;
    background: #1ABC9C; 
}
#Heavyorange{
    position: absolute;
    top: 2136px;
    left: 578px;
    background: #E67E22;   
}

#Green{
    position: absolute;
    top: 2491px;
    left: 27px;
    background: #229954;   
}
#Vermilion{
    position: absolute;
    top: 2491px;
    left: 578px;
    background: #D35400;   
}
#Pink{
    position: absolute;
    top: 2846px;
    left: 27px;
    opacity: 0.74;
    background: #E74C3C;
  
}
#Green_env{
    position: absolute;
    top: 2846px;
    left: 578px;
    background: #27AE60;   
}
#Yellow{
    position: absolute;
    top: 3201px;
    left: 27px;
    background: #F1C40F;   
}
#Gray{
    position: absolute;
    top: 3201px;
    left: 578px;
    background: #7F8C8D;   
}
#Lightpurple{
    position: absolute;
    top: 3556px;
    left: 27px;
    background: #AE7AC5;   
}
#Black{
    position: absolute;
    top: 3556px;
    left: 578px;
    background: #2C3E50;   
}