#House_work{
    
    top: 929px;
    left: 64px;
}
#leg_work{
    
    top: 929px;
    left: 615px;
    
}
#rul_work{
    
top: 1284px;
left: 64px;

}
#fin_work{

top: 1284px;
left: 615px;

}
#edu_work{
    
top: 1639px;
left: 64px;

}
#sci_work{

top: 1639px;
left: 615px;

}
#forei_work{

top: 1994px;
left: 64px;

}
#defen_work{
    
top: 1994px;
left: 615px;

}
#PASC_work{
    top: 2349px;
    left: 64px;
}
#CSTC_work{
    top: 2349px;
    left: 615px; 
}
#AFROFC_work{
    top: 2704px;
    left: 64px;
}
#TIESSC_work{
top: 2704px;
left: 614px;
}
#HWC_work{
top: 3059px;
left: 64px;
}
#ELC_work{
top: 3058px;
left: 615px;

}
#LITC_work{
top: 3415px;
left: 64px;

}
#IC_work{
top: 3414px;
left: 614px;

}
#GEFC_work{
top: 3768px;
left: 63px;

}
#SC_on_BandA_work{
    top: 3768px;
    left: 615px;
    
}