<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OaO</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">

    
    <link 
        rel="apple-touch-icon"
        sizes="180x180"
        type="image/png"
        href="../static/images/apple-touch-icon.png"
    />
    <link 
        rel="icon"
        sizes="16x16"
        type="image/png"
        href="../static/images/favicon-16x16.png"
    />
    <link 
        rel="icon"
        sizes="32x32"
        type="image/png"
        href="../static/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='css/Rec_Comm_Upper.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/work_font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/ko_and_en_font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/Comm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/committe_info.css') }}">
</head>
<body>
    <div id="main">
        <div id="main_Rec"></div>
            <div id="picture"></div>
            <div id="text1">국회 위원회 한 눈에 보기</div>
            <div id="text2">위원회 소개와 일정까지 한 번에 확인해보세요</div>

            <div id="Rec_Comm"></div>
            <div id="Rec_Comm_Upper"></div>
            <div id="Comm"></div>
            <div id="committe_info"></div>

            <div id="overlay" onclick="closePopup()"></div>
            <div id="popup">
                <div id="contact_info">연락처</div>
                <div id="email">이메일</div>
                <div id="email_addres">test</div>
                <div id="phone">전화번호</div>
                <div id="phone_number">123</div>
                <div id="close" onclick="closePopup()"></div>
    
    <script src="{{ url_for('static', path='js/htmlfetch.js') }}"></script><!--이게 index.html 줄여주는 거라 먼저 되야 함, 안되면 그래프가 안 나옴-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
    
</body>
</html>
